Repository voxpupuli/puppet-augeasproviders_grub, pull requests merged in 2024-08, with the labels that each got.

#104 fix: limit scope of update-bls-cmdline to RHEL9
  lib/puppet/provider/kernel_parameter/grub2.rb
Labels: bug

#105 Release 5.1.2
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#106 Drop EoL EL7 support
  metadata.json
Labels: backwards-incompatible
